body{
    background-color: #333333;
}
.method{
    background-color: #333333;
    color: white;
    border-radius: 30px;
    height: 250px;
    width: 250px;
    border: 2px solid #994a00;
}
.method:hover{
    background-color: #994a00;
}
.flex-container {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    width: 60%;
    margin-top: 14%;
}

.deliverytype {
    flex: 1;
    margin-left: 6%;
}
.deliverytypetext{
    display: block;
    text-align: center;
    border: 2px;
    width: 250px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
}